* {
    box-sizing: border-box;
}
/* nav bar/header for every page */
nav {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 20px;
}

nav ul li {
    display: inline-block;
    list-style: none;
    margin: 10px 30px;
    font-size: 20px;
}

nav ul li a {
    text-decoration: none;
    color: black;
}

nav ul li a:hover {
    text-decoration: none;
    color: #868484;
}

.carousel-caption p {
    font-family: 'Crimson Text', serif;
    font-size: 22px;
}

.carousel-caption h2 {
    font-family: 'Crimson Text', serif;
    font-weight: bold;
    text-shadow: 1px white;
}

.carousel .carousel-item img {
    object-fit: cover;
    object-position: center;
    width: 100%;
    height: 100%;
}
.carousel .carousel-item .wrapper {
    height: 650px;
    width: 100%;
    margin-bottom: 150px;
}

.btn-carousel {
    border: none;
    font-family: 'Crimson Text', serif;
    font-size: 20px;
    font-weight: lighter;
    text-align: left;
    background-color: transparent;
    color: white;
    padding-top: 30px;
    border-bottom: 1px solid white;
    padding-bottom: 3px;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    min-width: 160px;
    background-color: #f1e7d4;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    z-index: 1;
}

.dropdown:hover .dropdown-content {
    display: block;
}


.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: white;
}

.carousel-caption {
    position: absolute;
    top: 55%;
    left: 80px;
    right: 0;
    transform: translateY(-50%);
    z-index: 1;
    color: white;
    text-align: left;
}

hr.heading-divider {
    border: none;
    height: 2px;
    background-color: white;
    margin-top: 10px;
    margin-bottom: 20px;
    width: 50%;
}

body {
    margin: 0;
    padding: 0;
    background-color: #FFFFF0;
    font-family: 'Crimson Text', serif;
};



#searchIcon {
    cursor: pointer;
}

.definition {
    width: 100%;
    max-height: 150px; 
}
.bold-text {
    font-size: 50px;
}

#caphe-sentence {
    font-family: 'Cardo';
    letter-spacing: 0.45px;
    font-weight: lighter;
    font-size: 34px;
    width: 70%;
    margin: 0 auto;
    text-align: center;
}

.ethos-container {
    margin-top: 200px;
    margin-left: 80px;
    margin-bottom: 80px;
    overflow: auto;
  }

  .ethos-title {
    margin-left: 80px;
    margin-bottom: 30px;
  }

  .ethos-container img {
    float: left;
    margin-right: 30px;
    margin-left: 50px;
    width: 500px;
    height: 450px;
  }
.ethos-container h5 {
    text-align: left;
    margin-left: 80px;
    width: 70%;
    font-weight: lighter;
    letter-spacing: 0.45px;
    color: #333333
}

.ethos-container .ethos-right {
    overflow: hidden;
}

.ethos-container .ethos-right p a {
    text-decoration: none;
    letter-spacing: 0.45px;
    color: #333333
}

.ethos-container .ethos-right p a:hover {
    text-decoration: none;
    letter-spacing: 0.45px;
    color: #868484
}

.last-line {
    margin-top: 80px;
    margin-left: 80px;
    font-family: 'Cardo';
    font-size: 16px;
    letter-spacing: 0.45px;
}

#hyperlink {
    text-decoration: underline;
    font-style: italic;
}

.visit-container {
    margin-top: 150px;
    margin-right: 80px;
    margin-bottom: 80px;
    overflow: auto;
}

.visit-us {
    margin-left: 100px;
    margin-bottom: 30px;
    margin-top: 80px;
    letter-spacing: 0.45px;
}

.visit-container h5 {
    text-align: left;
    width: 40%;
    font-weight: lighter;
    letter-spacing: 0.45px;
    margin-left: 100px;
}

.visit-container p {
    margin-left: 100px;
    margin-top: 80px;
    font-family: 'Cardo';
    font-size: 16px;
    text-decoration: none;
    letter-spacing: 0.45px;
    color: #333333;
}

.visit-container p a {
    font-style: italic;
    text-decoration: underline;
    color: #333333;
}

.visit-container p a:hover {
    text-decoration: none;
    letter-spacing: 0.45px;
    color: #868484;
}

.visit-container img {
    float: right;
    width: 500px;
    height: 450px;
    margin-left: 30px;
    margin-right: 50px;
}

.visit-container a {
    text-decoration: none;
    color: black;
    font-size: 18px;
}

.browse-title {
    text-align: center;
    font-family: 'Cardo';
    text-align: left;
    letter-spacing: 0.45px;
    margin-left: 100px;
    margin-top: 180px;
}

.card-img-top {
    height: 450px;
    width: 325px;
}

.cards-row {
    display: flex;
    justify-content: space-between;
    margin-bottom: 150px;
}


.card {
    background-color: #FFFFF0;
    width: 30%;
    font-family: 'Cardo';
    font-size: 15px;
    margin-top: 50px;
    border: none;
}

.card-body a {
    background-color: #e9dac3;
    color: black;
    border: none;
}

.card-body a:hover {
    background-color:white;
    color: #868484;
}

/* visit shoreditch page */

.shoreditch-container img {
    width: 100%;
    height: auto;
    margin-bottom: 100px;
}

.shoreditch-text {
    margin: 0 auto;
    width: 70%;
    text-align: center;
    font-family: 'Cardo';
    font-size: 20px;
    letter-spacing: 0.45px;
    margin-top: 40px;
}

.shoreditch-text a {
    text-decoration: underline;
    color: black;
    font-style: italic;
}

.shoreditch-text a:hover {
    color:#868484;
}

.opening-times { 
    font-family: 'Cardo';
    font-size: 20px;
    letter-spacing: 0.45px;
    padding-top: 100px;
    list-style: none;
    padding-bottom: 100px;
    text-align: center;
    font-weight: 700;
}

.opening-times li {
    padding-top: 20px; 
}

/* menu page */
#menu-title {
    font-family: 'Cardo';
    margin-left: 50px;   
}

.prices-row {
    text-align: center;
    margin-left: 335px;
    margin-top: 50px;
}

.drinks-menu {
    font-family: 'Cardo';
    font-size: 20px;
    align-items: center;
    margin-top: 30px;
}

.drinks-menu li {
    margin-left: 250px;
}

.drinks-menu .move-further {
    margin-left: 295px;
}

.drinks-menu .move-right {
    margin-left: 320px;
}


/* about us page */

.image-grid {
    display: flex;
    width: 100%;
    justify-content: space-between;
    margin-top: 120px;
    margin-bottom: 100px;
    padding-inline: 40px;
}

.image-grid img {
    width: 30%;
    height: auto;
}

.image-grid .middle-image {
    margin-top: 80px;
    margin-bottom: -80px;
}

#story-title {
    text-align: center;
    padding-top: 80px;
    padding-bottom: 40px;
    letter-spacing: 0.45px;
}

.text-center { 
    text-align: center;
    padding-inline: 60px;
    max-width: 800px;
    /* width: 70%; */
    margin: 0 auto;
    letter-spacing: 0.45px;
}

.text-next-to-img {
    text-align: center;
    width: 80%;
    margin: 0 auto;
    letter-spacing: 0.45px;
}

.image-w-text {
    align-items: center;
    width: 100%;
    margin: 0 auto;
    letter-spacing: 0.45px;
}
.image-w-text img {
    margin-bottom: 80px;
    margin-top: 80px; 
    width: 80%;
    height: 80%;
}

.container-small {
    max-width: 800px;
    margin: 0 auto;
    align-items: center;
    text-align: center;
}

/* contact page */
.contact-extract {
    padding: 20px;
    width: 50%;
}

.contact-extract h2 {
    padding-left: 20px;
}

.contact-extract p {
    font-size: 18px;
    padding-left: 20px;
}

form {
    padding: 20px;
}

form input, form textarea {
    margin-bottom: 30px;
    padding: 15px;
    width: 60%;
    box-sizing: border-box;
    background-color: #FFFFF0;
    outline: none;
    border: 1px solid #f1e7d4;
}

form button {
    border: none;
    padding: 10px 20px;
    background-color: #e9dac3;
}

.form-image-contained {
    display: flex;
}

.form-image-contained img {
    width: 40%;
}

.form-container {
    flex: 1;
    padding: 20px;
}

/* thanks.html */

.center-thanks {
    display: flex;
    justify-content: center;
    align-items: center;
}

.thanks-form-container {
    padding-top: 80px;
    width: 50%;
}

.thanks-form-container h3 {
    font-size: 30px;
    font-weight: lighter;
    text-align: center;
}


.thanks-form-container .back {
    padding-top: 50px;
}

.thanks-form-container .back p {
    font-family: 'Crimson Text', serif;
    font-size: 32px;
    font-weight: lighter;
    text-align: center;

}

.thanks-form-container .back a {
    text-decoration: none;
    color: brown;
    font-style: italic;
}

.thanks-form-container .back {
    text-align: center;
}

.thanks-form-container .back a:hover {
    color: grey;
}
/* shop page  */

#products-text {
    margin-top: 40px;
    margin-left: 45px;
    font-size: 30px;

}

.filter-header {
    display: flex;
    margin-right: 50px;
    /* justify-content: flex-end; */
    /* align-items: center;
    width: 100%; */
    margin-bottom: 10px; /* Adjust the width as desired */
}

.filter-header-text {
    font-size: 18px;
    font-weight: lighter;
    margin-left: 1195px;
    margin-top: 5px;
}

.filter-select {
    margin-left: auto;
    /* width: 20%; */
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
    appearance: none;
    -webkit-appearance: none;
    background-color: #fff;
    background-image: url('./images/down-arrow.png');
    background-size: 25px;
    background-repeat: no-repeat;
    background-position: right center;
    background-color:#FFFFF0;
    cursor: pointer;
}

.grid-of-images {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}

.grid-of-images figure {
    margin: 50px;
    text-align: center;
}

.grid-of-images img {
    width: 100%;
    height: 300px;
    display: block;
}

.grid-of-images figcaption {
    margin-top: 10px;
    font-size: 14px;
    text-align: center;
}

.grid-of-images .product-name {
    margin-bottom: 5px;
}

.add-to-cart {
    padding: 15px 30px;
    margin-top: 20px;
    background-color: #e9dac3;
    font-family: 'Cardo';
    font-weight: lighter;
    font-size: 14px;
    border: none;
}

.add-to-cart:hover {
    background-color: white;
    color: #868484;
}

/* footer */
.footer {
    width: 100%;
    margin-top: 150px;
}

#footer-container {
    background-color: #f1e7d4;
    height: 425px;
}

.sns-icons ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
  }

  .sns-icons li {
    margin-top: 20px;
    margin-left: 50px;
  }

.columns {
    display: flex;
    justify-content: space-between;
    margin-bottom: 130px;
}

.column {
    flex: 1;
    margin-right: 20px;
    margin-top: 35px;
}

.column ul {
    list-style: none;
}


.column ul li {
    padding: 8px;
    font-family: 'Cardo';
}

.column ul a {
    color: black;
    text-decoration: none;
}

.column img {
    width: 150px;
    height: 150px;
    margin-left: 40px;
}

.footer-icons {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.email-subscription {
    text-align: right;
    margin-right: 40px;
}

.email-subscription p {
    margin-bottom: 10px;
    font-family: 'Cardo';
    text-align: left;
}

.email-subscription form {
    display: flex;
    align-items: center;
}

.email-subscription input[type="email"] {
    padding: 10px;
    width: 180px;
    margin-right: 10px;
}

.email-subscription button {
    padding: 8px 8px;
    background-color: #e9dac3;
    border: none;
}

footer p {
    margin-left: 20px;
}

.column ul li a:hover {
    color:#868484;
}

#searchContainer {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background-color: #FFFFF0;
    z-index: 2;
}

#closeIcon {
    position: absolute;
    top: 85px;
    right: 0;
    padding: 50px;
}

.peekaboo {
    display: none;
}

.search-content {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60%;
    width: 100%;
}

.searchLine-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 75%;
}

.search-click {
    margin-left: 0px;
}

#searchInput {
    background-color: #FFFFF0;
    padding: 10px 25px;
    font-size: 30px;
    border: none;
    border-bottom: 2px solid black;
    width: 75%;
    outline: none;
}

/* cart.html */

.shopping-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 10px;
}

.deliveryOption {
    margin: 10px;
}
input[type="radio"] {
    width: 10%;
    margin-top: 25px;
}

#sameAsBilling {
    width: 10%;
    margin-top: 20px;
}

#billingAddress {
    display: inline-block;
    widtH: 100%;
}

.cart-product {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-right: 30px;
    padding-bottom: 30px;
}

.cart-product img {
    max-width: 80px;
    margin-right: 10px;
}

.cart-product p {
    margin: 0;
}

.quantityInput {
    width: 40px;
}

#decrementBtn, #incrementBtn, #removeBtn {
    background-color: #e9dac3; 
    border: none;
}

#removeBtn {
    padding: 6px;
}

#totalPrice {
    margin-top: 60px;
    font-weight: bolder;
    font-size: 22px;
    text-align: right;
    margin-right: 45px;
}

@media screen and (max-width: 600px) {
    .cart-product {
        width: 100%;
    }
}


