* {
    box-sizing: border-box;
}
/* nav bar/header for every page */
nav {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 20px;
}

nav ul li {
    display: inline-block;
    list-style: none;
    margin: 10px 30px;
    font-size: 20px;
}

nav ul li a {
    text-decoration: none;
    color: black;
}

nav ul li a:hover {
    text-decoration: none;
    color: #868484;
}

.carousel-caption p {
    font-family: 'Crimson Text', serif;
    font-size: 22px;
}

.carousel-caption h2 {
    font-family: 'Crimson Text', serif;
    font-weight: bold;
    text-shadow: 1px white;
}

.carousel .carousel-item img {
    object-fit: cover;
    object-position: center;
    width: 100%;
    height: 100%;
}
.carousel .carousel-item .wrapper {
    height: 650px;
    width: 100%;
    margin-bottom: 150px;
}

.btn-carousel {
    border: none;
    font-family: 'Crimson Text', serif;
    font-size: 20px;
    font-weight: lighter;
    text-align: left;
    background-color: transparent;
    color: white;
    padding-top: 30px;
    border-bottom: 1px solid white;
    padding-bottom: 3px;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    min-width: 160px;
    background-color: #f1e7d4;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    z-index: 1;
}

.dropdown:hover .dropdown-content {
    display: block;
}


.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: white;
}

.carousel-caption {
    position: absolute;
    top: 55%;
    left: 80px;
    right: 0;
    transform: translateY(-50%);
    z-index: 1;
    color: white;
    text-align: left;
}

hr.heading-divider {
    border: none;
    height: 2px;
    background-color: white;
    margin-top: 10px;
    margin-bottom: 20px;
    width: 50%;
}

body {
    margin: 0;
    padding: 0;
    background-color: #FFFFF0;
    font-family: 'Crimson Text', serif;
};

.definition p {
    font-family: 'Crimson Text', serif;
    font-size: 40px;
    margin-bottom: 100px;
}

.ethos-container {
    margin-left: 80px;
    margin-bottom: 80px;
    overflow: auto;
  }

  .ethos-container img {
    float: left;
    margin-right: 10px;
    width: 300px;
    height: auto;
  }
.ethos-container h5 {
    text-align: left;
    width: 60%;
    font-weight: lighter;
    letter-spacing: 0.45px;
    color: #333333
}

.ethos-container .ethos-right {
    overflow: hidden;
}

.ethos-container .ethos-right p a {
    text-decoration: none;
    letter-spacing: 0.45px;
    color: #333333
}

.ethos-container .ethos-right p a:hover {
    text-decoration: none;
    letter-spacing: 0.45px;
    color: #868484
}

.sale-container {
    display: flex;
    align-items: center;
}
.sale-container h5 {
    text-align: left;
    width: 50%;
}

.sale-container img {
    width: 300px;
    height: auto;
}

.sale-container a {
    text-decoration: none;
    color: black;
    font-size: 18px;
}


.image-grid {
    display: flex;
    width: 100%;
    justify-content: space-between;
    margin-top: 120px;
    margin-bottom: 100px;
    padding-inline: 40px;
}

.image-grid img {
    width: 30%;
    height: auto;
}

.image-grid .middle-image {
    margin-top: 80px;
    margin-bottom: -80px;
}

h3 {
    text-align: center;
}

.text-center {
    text-align: center;
    padding-inline: 60px;
}

.text-right {
    text-align: right;
}

.text-left {
    text-align: left;
}

.image-w-text {
    display: flex;
    align-items: center;
}
.image-w-text img {
    margin-right: 10px;
    width: 25%;
    height: 250px;
    object-fit: cover;
}

.container-small {
    width: 100%;
    max-width: 670px;
    margin: 0 auto;
}

/* contact page */
.contact-extract {
    padding: 20px;
    width: 50%;
}

.contact-extract h2 {
    padding-left: 20px;
}

.contact-extract p {
    font-size: 18px;
    padding-left: 20px;
}

form {
    padding: 20px;
}

form input, form textarea {
    margin-bottom: 30px;
    padding: 15px;
    width: 60%;
    box-sizing: border-box;
    background-color: #FFFFF0;
    outline: none;
    border: 1px solid #f1e7d4;
}

form button {
    border: none;
    padding: 10px 20px;
    background-color: #e9dac3;
}

.form-image-contained {
    display: flex;
}

.form-image-contained img {
    width: 40%;
}

.form-container {
    flex: 1;
    padding: 20px;
}

/* thanks.html */

.center-thanks {
    display: flex;
    justify-content: center;
    align-items: center;
}

.thanks-form-container {
    padding-top: 80px;
    width: 50%;
}

.thanks-form-container h3 {
    font-size: 30px;
    font-weight: lighter;
    text-align: center;
}


.thanks-form-container .back {
    padding-top: 50px;
}

.thanks-form-container .back p {
    font-family: 'Crimson Text', serif;
    font-size: 32px;
    font-weight: lighter;
    text-align: center;

}

.thanks-form-container .back a {
    text-decoration: none;
    color: brown;
    font-style: italic;
}

.thanks-form-container .back {
    text-align: center;
}

.thanks-form-container .back a:hover {
    color: grey;
}
/* footer */
.footer {
    width: 100%;
    margin-top: 150px;
}

#footer-container {
    background-color: #f1e7d4;
    height: 425px;
}

.sns-icons ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
  }

  .sns-icons li {
    margin-top: 20px;
    margin-left: 50px;
  }

.columns {
    display: flex;
    justify-content: space-between;
    margin-bottom: 130px;
}

.column {
    flex: 1;
    margin-right: 20px;
    margin-top: 35px;
}

.column ul {
    list-style: none;
}


.column ul li {
    padding: 8px;
    font-family: 'Cardo';
}

.column ul a {
    color: black;
    text-decoration: none;
}

.column img {
    width: 150px;
    height: 150px;
    margin-left: 40px;
}

.footer-icons {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.email-subscription {
    text-align: right;
    margin-right: 40px;
}

.email-subscription p {
    margin-bottom: 10px;
    font-family: 'Cardo';
    text-align: left;
}

.email-subscription form {
    display: flex;
    align-items: center;
}

.email-subscription input[type="email"] {
    padding: 10px;
    width: 180px;
    margin-right: 10px;
}

.email-subscription button {
    padding: 8px 8px;
    background-color: #e9dac3;
    border: none;
}

footer p {
    margin-left: 20px;
}

.column ul li a:hover {
    color:#868484;
}
